<html>
<head>
  <link rel="stylesheet" type="text/css" href="/application.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/application.js"></script>
  <title>little craigslist</title>
</head>
<body>
  <div class="header">Home</div>
  <div class="app-container">
    <%= yield %>
  </div>
</body>
</html>