<h1><%= @my_post.title %></h1>
<h2> <%= @my_post.description %> </h2>
<h3> Email: <%= @my_post.email %> </h3>
<h3> Price: $<%= @my_post.price %> </h3>
<form action="posts/:post_url/edit" method="get">
  <input type="submit" value="Edit">
</form>
