<form action="posts/new_post" method="post">
  Title:<br>
  <input type="text" name="title" value=<%=@my_post.title%>>
  <br>
  Description:<br>
  <input type="text" name="description" value="Looking for someone...">
  <br>
  Email:<br>
  <input type="text" name="email" value="me@mydomain.com">
  <br>
  Price:<br>
  <input type="text" name="price" value="10">
  <br>
  Category:<br>
  <select name="category_id">
    <option value="1">Books</option>
    <option value="2">Clothing</option>
    <option value="6">Grocery</option>
    <option value="7">Toys</option>
  </select>
  <input type="submit" value="Submit">
</form>